<nav class="navbar navbar-expand navbar-dark bg-dark">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['games']">Društvene igre</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" [routerLink]="['contact']">Kontakt</a>
		</li>
	</ul>
	<div class="collapse navbar-collapse justify-content-end">
		<ul class="navbar-nav">
			<li [routerLink]="['/cart']" class="nav-item">
				<a class="nav-link"><span class="fa fa-shopping-cart"></span> Korpa</a>
			</li>
		</ul>
	</div>
</nav>